html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #3b3b3b;
    background: url(../images/main-bg.png) repeat 0 0;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #3b3a3a;
    text-transform: uppercase;
    margin-bottom: 22px;
}
h4 {
    color: #6d6d6d;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-shadow: 1px 1px #ffffff;
    line-height: 18px;
    padding: 41px 0;
}
h5 {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #1a1a1a;
    margin-bottom: 10px;
}

a {
    color: #0d6d95;
    text-decoration: none;
}

hr.separator {
    width: 100%;
    height: 0px;
    margin: 0;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #e3e3e3 transparent #ffffff transparent;
}
.hidden {
    display: none;
}

/* Layout */
.block-content {
    background: url(../images/header-bg.png) repeat-x 0 0;
}

.layout {
    width: 940px;
    margin: 0 auto;
}
.messages {
    padding: 10px;
    margin: -10px 0 10px 0;
    background-color: rgba(227, 227, 227, 0.75);
    border: 1px solid rgba(174, 174, 174, 0.75);
}
.messages.error {
    background-color: rgba(255, 206, 208, 0.75);
    border: 1px solid rgba(248, 162, 167, 0.75);
    color: #ee202a;
}
.messages ul {
    list-style: none;
}

/* Header */
.header-wrap {
    height: 115px;
    padding: 42px 0 20px 0;
}

.header-wrap .logo {
    float: left;
    width: 220px;
}

.header-wrap .slogan {
    float: left;
    width: 460px;
    padding: 10px 18px 0 102px;
    line-height: 20px;
    text-shadow: 1px 1px #FFF;
}

.header-wrap .help-mail {
    float: right;
    width: 128px;
    padding: 3px 0 0 0;
}

/* Footer */
.footer-wrap {
    padding: 22px 0 100px 0;
    margin: 20px 0 0 0;
    background: url(../images/footer-logo.png) no-repeat center bottom;
}
.footer-menu ul {
    display: block;
    list-style: none;
    text-align: center;
    font-size: 13px;
}
.footer-menu ul li {
    display: inline-block;
    line-height: 20px;
}
.footer-menu ul li a {
    display: inline-block;
}
.footer-menu ul li .menu-delimiter {
    display: inline-block;
    padding: 0 20px;
    color: #e3e3e3;
    font-size: 15px;
}


/* Content */
.content-wrap {
    padding: 20px 0;
}

/* Form Navigation */
.photo-film-navigation {
    height: 92px;
    margin-right: -30px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    list-style: none;
}

.photo-film-navigation li {
    display: inline-block;
    margin: 8px 9px 0px 0;
}

.photo-film-navigation .navigation-separator {
    float: right;
    width: 40px;
    height: 40px;
    background: url(../images/lock-icon.png) no-repeat center center;
}

.photo-film-navigation li.active-step .navigation-separator {
    background-image: url(../images/next-icon.png);
}

.photo-film-navigation a {
    float: left;
    padding: 6px 19px 6px 0;

    color: #a6a6a6;
    text-decoration: none;
}

.photo-film-navigation a.active {
    color: #0d6d95;
}

.photo-film-navigation a.next {
    color: #6d6d6d;
}

/* Main Form */
.photo-film-form input[type=checkbox],
.photo-film-form .form-type-radio,
.photo-film-form .form-type-file,
.photo-film-form .form-item-files-file {
    display: none;
}

.photo-film-form .images-list {
    display: block;
    margin: 8px -20px 0 0;
    list-style: none;
}

.photo-film-form .images-list > li {
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
}
.photo-film-form .form-warning-message {
    min-height: 58px;
    padding-left: 72px;
    background: url(../images/info-icon.png) no-repeat 1px 1px;

    color: #808080;
    line-height: 18px;
    text-shadow: 1px 1px #FFFFFF;
}

/* 'Theme' Step */
.photo-film-form .images-list .theme-toolbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 274px;
    padding: 10px 14px 10px 12px;
    background-color: rgba(241, 241, 241, 0.75);
    color: #3b3a3a;
}

.photo-film-form .images-list .theme-toolbar .title {
    float: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 34px;
}
.photo-film-form .images-list .theme-toolbar .checkbox {
    float: right;
    width: 36px;
    height: 36px;
    background: url(../images/checked-icon.png) no-repeat 0 0;
    cursor: pointer;
}
.photo-film-form .images-list .theme-toolbar:hover,
.photo-film-form .images-list .theme-toolbar.selected {
    color: #ffffff;
    background-color: rgba(13, 109, 149, 0.75);
}
.photo-film-form .images-list .theme-toolbar:hover .checkbox,
.photo-film-form .images-list .theme-toolbar.selected .checkbox {
    visibility: visible;
}

/* 'Style' Step */
.photo-film-form .images-list .style-image-wrap {
    position: relative;
}
.photo-film-form .images-list .style-toolbar {
    width: 198px;
    padding: 10px 12px 10px 10px;
    background-color: #e5e6e6;
    color: #3b3a3a;
}
.photo-film-form .images-list .style-toolbar .title {
    float: left;
    font-size: 13px;
}
.photo-film-form .images-list .style-toolbar .checkbox {
    float: right;
    line-height: 12px;
}
.photo-film-form .images-list .style-example {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 182, 227, 0.4);
}
.photo-film-form .images-list .style-example > a {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 14px 0;
    background: #00b6e3;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.photo-film-form .images-list .style-image-wrap:hover .style-example {
    visibility: visible;
}

/* 'Music' Step */
.tracks-step {
    margin: 4px 0 60px 0;
}
.tracks-list-wrap {
    float: left;
    width: 460px;
    margin-right: 100px;
}
.track-uploader-wrap {
    float: left;
    width: 380px;
}

.tracks-list {
    display: block;
    height: 395px;
    background-color: #ffffff;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    list-style: none;
}
.tracks-list.locked {
    position: relative;
}
.tracks-list.locked:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../images/lock-big.png") no-repeat scroll center center rgba(122, 122, 122, 0.3);
    opacity: 0.3;
}
.tracks-list li {
    padding: 6px 0px 7px 10px;
}
.tracks-list li.even {
    background-color: #f0f0f0;
}
.tracks-list li.checked {
    color: #ffffff;
    background: url(../images/checked-small-icon.png) no-repeat 410px 12px #247b9f;
}
.tracks-list li .author {
    font-weight: bold;
    font-size: 10px;
    margin-top: 1px;
}

.user-file-upload {
    height: 214px;
}
.user-file-upload .file-uploader-holder {
    height: 48px;
    padding: 50px 0;
    background: url(../images/download-icon.png) no-repeat center 80px;
    border: 3px dashed rgb(203, 203, 203);
    border-radius: 8px;

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #b7b7b7;
}
.user-file-upload .file-uploader-holder.locked {
    color: transparent;
    border-color: transparent;
    border-radius: 0px;
    background: url(../images/lock-medium.png) no-repeat center center rgba(0, 0, 0, 0.3);
    opacity: 0.3;
}
.user-file-upload .file-uploader-holder.loading {
    color: transparent;
    background: url(../images/ajax-loader.gif) no-repeat center center rgba(0, 0, 0, 0.3);
    opacity: 0.3;
}

.user-file-upload .user-track-wrap {
    padding-top: 22px;
}
.user-file-upload .user-track-wrap.loading {
    position: relative;
}
.user-file-upload .user-track-wrap.loading:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../images/ajax-loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0.1);
}
.user-file-upload .user-track-info {
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    padding: 18px;
    line-height: 22px;
    background-color: #247b9f;
}
.user-file-upload .user-track-info div {
    float: left;
}
.user-file-upload .user-track-info div.status {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/checked-small-icon.png) no-repeat 0 1px;
}
.user-file-upload .user-track-info div.title {
    width: 274px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-file-upload .user-track-info div.remove {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/remove-icon.png) no-repeat 0 0;
    cursor: pointer;
}

/* Custom Scrollbar Style */
.scrollbar-handle-container {
    width: 12px;
    background: #e3e3e3;
}
.scrollbar-handle {
    width: 12px;
    background: #248ab4;
}
.scrollbar-pane {
    margin-right: 12px;
    width: 100%;
}
.scrollbar-handle-up,
.scrollbar-handle-down {
    height: 0;
}

/* 'Photos' Step */
.photos-step {
    margin-top: 8px;
}
.photos-step .photos-uploader-wrap {
    float: left;
    width: 380px;
    margin-right: 100px;
}
.photos-step .form-warning-message {
    float: left;
    width: 372px;
}
.photos-step .user-photos-wrap {
    clear: both;
    margin: 40px -20px 0 0;
    list-style: none;
}
.photos-step .user-photos-wrap li {
    position: relative;
    float: left;
    width: 220px;
    height: 120px;
    margin: 20px 20px 0 0;
}
.photos-step .user-photos-wrap li.photo-placeholder {
    width: 218px;
    height: 118px;
    border: 1px dotted #e3e3e3;
    background: rgba(0, 182, 227, 0.1);
}
.photos-step .user-photos-wrap li .photo-number {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: #00b6e3;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    line-height: 32px;
    z-index: 10;
}
.photos-step .user-photos-wrap li .photo-toolbar {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 15px;
    padding: 10px;
    background-color: rgba(233, 233, 233, 0.9);
    color: #5a5c5d;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    z-index: 10;
}
.photos-step .user-photos-wrap li .photo-comment {
    float: left;
    padding: 0 0 0 22px;
    background: url(../images/edit-icon.png) no-repeat 0 0;
    cursor: pointer;
}
.photos-step .user-photos-wrap li .photo-remove {
    float: right;
    padding: 0 0 0 26px;
    background: url(../images/remove-small-icon.png) no-repeat 0 0;
    cursor: pointer;
}
.photos-step .user-photos-wrap li:hover:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 182, 227, 0.4);
    z-index: 5;
}
.photos-step .user-photos-wrap li.loading:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../images/ajax-loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.photos-step .user-photos-wrap li:hover .photo-toolbar {
    visibility: visible;
}
.photos-step .user-photos-wrap li .photo-toolbar div:hover {
    color: #1a1b1b;
}
#comment-dialog textarea {
    width: 315px;
    height: 90px;
    margin-top: 5px;
}

/* 'Order' step */
.order-form {
}
.order-form .form-item {
    float: left;
    width: 470px;
    height: 48px;
}
.order-form .form-item label {
    float: left;
    width: 76px;
    margin: 15px 0;

    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #3b3a3a;
}
.order-form .form-item .form-required {
    color: #fb4f4f;
}
.order-form input,
.order-form select {
    width: 282px;
    padding: 8px;
    background: #ffffff;

    font-size: 14px;
    color: #1a1a1a;
    border: 1px solid #cacaca;
}
.order-form select {
    width: 300px;
}
.order-form input:disabled {
    color: #696969;
    background: #f0f0f0;
}
.order-form .form-delimeter {
    clear: both;
    width: 100%;
    height: 30px;
}
.order-form hr.separator {
    float: left;
    width: 100%;
    margin: 40px 0 32px 0;
}
.order-form .form-item-discount label {
    width: 105px;
    margin-left: 155px;
}
.order-form .form-item-discount input {
    width: 96px;
}
.order-form .payment-item label {
    margin-left: 10px;
}
.order-form .payment-item span {
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    color: #25bae4;
    line-height: 40px;
}